@import "~bootstrap/scss/bootstrap.scss";

.Stopwatch-display {
    background-color: black;
    color: white;
    font-size: 100px;
    text-align: center;
}
.btn {
    position: absolute;
    right: 50%;
    font-size: 60px;
}
.fas {
    position: relative;
    right: 10%;
    bottom: 5%;
    color: red;
}